.btn-action {
  border-color: transparent;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 13px;
  padding: 7px 15px;
  float: right;
  color: #110f0f;
}
.primary {
  background-color: #ffc72b;
}

.secondary {
  background-color: #cba436;
}
